* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  list-style-type: none;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

i {
  color: #0d3f86;
}

.first-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.logo-nav {
  width: 180px;
}

.nav1 {
  padding: 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.number {
  margin-top: 30px;
}

.nav2 {
  background-color: #3f98b6;
  padding-right: 2px;
}

.nav-menu {
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  gap: 0.1px;
}

.nav-menu li {
  padding: 1%;
}

.nav-link {
  color: white;
  font-size: 15px;
  padding-right: 10px;
}

.nav-link:hover {
  color: #0d3f86;
}

.main-img-container {
  width: 100%;
  height: 100%;
}

.main-image {
  width: 100%;
  height: 100%;
}

.imagen-principal {
  width: 100%;
  height: 100%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.card {
  height: 350px;
  border-radius: 0px;
  margin: 0px 40px;
  position: relative;
}

.blue-rectangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 45px;
  background-color: #0d3f86;
}

.card1 {
  background-color: #4eb4cb;
  color: white;
}

.card-title {
  margin-top: 20px;
  font-weight: 800;
}

.card-text {
  font-size: 14px;
}

.card-img-top {
  border-radius: 0px;
  height: 240px;
}

.card2 {
  background-color: #3f98b6;
  color: white;
}

.card3 {
  background-color: #3182a0;
  color: white;
}

.section-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  width: 100%;
  height: 100%;
  padding: 0px 50px;
}

.video {
  padding: 0%;
  height: 800px;
}

.section-video-container h3 {
  font-weight: bolder;
}

.section-video-container span {
  color: #0d3f86;
  font-weight: bolder;
}

.parrafo-video {
  padding-right: 45px;
}

.servicio-personalizado {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.quienes-somos-1 {
  display: flex;
  align-items: center;
  margin: 50px 0px;
}


.quienes-info {
  margin-left: 30px;
  border-left: 10px solid #0d3f86;
  padding-left: 30px;
  padding-right: 10px;
}

.quienes-info h3 {
  font-weight: bolder;
  margin-bottom: 40px;
}

.quienes-somos-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  padding-bottom: 60px;
  padding-right: 40px;
  color: #0d3f86;
}

.img-quienes-somos {
  background-color: grey;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.quienes-somos-2 h5 {
  font-weight: bolder;
}

.contacto h3 {
  font-weight: bolder;
}

.contacto .btn {
  background-color: #3f98b6;
  border: 1px solid #3f98b6;
  width: 90%;
  height: 40px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

.btn:hover {
  background-color: #0d3f86;
}

.reseñas-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.reseñas-container2 {
  display: inline;
  height: 100%;
  width: 100%;
  align-items: center;
}

.reseña {
  background-color: #c4c9c6;
  padding: 0px 10px;
  border-radius: 25px;
  margin: 0px 20px;
}

.name-stars {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.reseña p {
  font-size: 13px;
}

.reseña h6 {
  font-weight: bold;
}

footer {
  background-color: #0d3f86;
  height: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px;
  padding: 0px 50px;
  color: white;
  width: 100%;
  height: 100%;
}

.footer-container i {
  color: white;
}

.footer-container img {
  width: 140px;
}

@media (max-width: 1199px) {
  .reseñas-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 991px) {
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
  }
}


@media (max-width: 767px) {
  .nav-menu {
    padding: 50px;
    margin: auto;
    display: inline;
    text-align: center;
  }

  .nav-link {
    color: white;
    font-size: 15px;
    padding: 0%;
  }

  .nav-menu li {
    padding: 3%;
  }

  .quienes-somos-1 {
    display: inline;
    align-items: center;
    margin: 50px 0px;
  }

  .quienes-logo {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
  }

  .map{
    display: flex;
    justify-content: center;
    padding: 5%;
  }

  .footer-container {
    display: inline;
    text-align: center;
    align-items: center;
    margin: 40px 0px;
    padding: 0px 50px;
    color: white;
    width: 100%;
    height: 100%;
  }
}



@media (max-width: 575px) {
  .logo-nav {
    width: 200px;
    display: inline;
  }

  .nav1 {
    text-align: center;
    padding: 30px;
    margin: auto;
    display: block;
  }
}

/*
.quienes-info {
  margin-left: 30px;
  border-left: 10px solid #0d3f86;
  padding-left: 30px;
  padding-right: 10px;
}

.quienes-info h3 {
  font-weight: bolder;
  margin-bottom: 40px;
}



.img-quienes-somos {
  background-color: grey;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.quienes-somos-2 h5 {
  font-weight: bolder;
}
*/